<div class="certification-container">
  <h1 class="Certifications-Title">Certificados</h1>
  <div class="grid">
    <div class="card">
      <a href="https://platzi.com/p/Chrisolivaresdev/curso/2008-html-css/diploma/detalle/" target="_blank"><img
          src="./assets/certification/HtmlYCss.jpg" alt="CursoHtmlYCss"> </a>
    </div>
    <div class="card">
      <a href="https://platzi.com/p/Chrisolivaresdev/curso/2229-flexbox-css-grid/diploma/detalle/" target="_blank"> <img
          src="./assets/certification/gridYflex.jpg" alt="CursoGridYFlexbox"> </a>
    </div>

    <div class="card">
      <a href="https://platzi.com/p/Chrisolivaresdev/curso/1814-basico-javascript/diploma/detalle/" target="_blank">
        <img src="./assets/certification/basico js.jpg" alt="CertificadoJs"></a>
    </div>

    <div class="card">
      <a href="https://platzi.com/p/Chrisolivaresdev/curso/1557-git-github/diploma/detalle/" target="_blank"><img
          src="./assets/certification/GitYGithub.jpg" alt="CursoGitYGithub"> </a>
    </div>

    <div class="card">
      <a href="https://platzi.com/p/Chrisolivaresdev/curso/1331-bootstrap/diploma/detalle/" target="_blank"> <img
          src="./assets/certification/bootstrap.jpg" alt="SursoBootstrap
          "> </a>
    </div>

    <div class="card">
      <a href="https://platzi.com/p/Chrisolivaresdev/curso/2030-mobile-first/diploma/detalle/" target="_blank"> <img
          src="./assets/certification/MobileFirst.jpg" alt="CursoMobileFirst"> </a>
    </div>

    <div class="card">
      <a href="https://platzi.com/p/Chrisolivaresdev/curso/1787-spa-javascript/diploma/detalle/" target="_blank"><img
          src="./assets/certification/SPA.jpg" alt="CursoSinglePageApplication"></a>
    </div>

    <div class="card">
      <a href="https://platzi.com/p/Chrisolivaresdev/curso/2242-webpack/diploma/detalle/" target="_blank"><img
          src="./assets/certification/Webpack.jpg" alt="CursoWebpack"> </a>
    </div>

    <div class="card">
      <a href="https://platzi.com/p/Chrisolivaresdev/curso/2379-roadtocode3-secret/diploma/detalle/" target="_blank">
        <img src="./assets/certification/roadToCode.jpg" alt="RetoRoadToCode3.0"> </a>
    </div>

    <div class="card">
      <a href="https://platzi.com/p/Chrisolivaresdev/curso/1789-asincronismo-js/diploma/detalle/" target="_blank"> <img
          src="./assets/certification/Asincronismo.jpg" alt="CertificadoAsincronismo"></a>
    </div>

    <div class="card">
      <a href="https://platzi.com/p/Chrisolivaresdev/curso/1815-ecmascript-6/diploma/detalle/" target="_blank"><img
          src="./assets/certification/ecmascript +6.jpg" alt="CursoEcmascript"> </a>
    </div>

    <div class="card">
      <a href="https://platzi.com/p/Chrisolivaresdev/curso/1339-fundamentos-javascript-2018/diploma/detalle/"
        target="_blank"> <img src="./assets/certification/FundamentosJS.jpg" alt="FundamentosJs"> </a>
    </div>

    <div class="card">
      <a href="https://platzi.com/p/Chrisolivaresdev/curso/1245-stylus/diploma/detalle/" target="_blank">
        <img src="./assets/certification/Stylus.jpg" alt="CurstoStylus"> </a>
    </div>

    <div class="card">
      <a href="https://platzi.com/p/Chrisolivaresdev/curso/1244-sass/diploma/detalle/" target="_blank">
        <img src="./assets/certification/Sass.jpg" alt="CursoSass"> </a>
    </div>

    <div class="card">
      <a href="https://platzi.com/p/Chrisolivaresdev/curso/1246-less/diploma/detalle/" target="_blank">
        <img src="./assets/certification/LESS.jpg" alt="CursoLess"></a>
    </div>

  </div>
</div>
