.certification-container{
  animation: fade;
  animation-duration: 2s;
}

.Certifications-Title{
  text-align: center;
  margin-top:20px;
  margin-bottom: 10px;
}

.grid{
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(1,1fr);
}

.card{
  width: 200px;
  height: 200px;
  margin: 20px 10px;
  border-radius: 20px;
  justify-self: center;
  overflow: hidden;
  box-shadow: 0 15px 25px rgba( 0, 0, 0, 0.2);
  transition: 0.5s;
 ;
}

.card:hover{
  transform: scale(1.1) ;
}

.card a img{
  width: 200px;
  height: 200px;
}


@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media(min-width:540px){
  .grid{
    grid-template-columns: repeat(2,1fr);
  }
}


@media(min-width:768px){
  .grid{
    grid-template-columns: repeat(3,1fr);
  }

  .Certifications-Title{
    font-size:35px;
  }
}


@media(min-width:1024px){
  .grid{
    grid-template-columns: repeat(4,1fr);
  }
}
