.container-presentation{
  width: 100%;
  margin-top: 20px;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.container-presentation h1:first-child{
    font-family: 'Rufina', serif;
    text-align: center;
    font-weight: 800;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    animation: type 2s steps (40,end) forwards;
  }

  .container-presentation h1:nth-child(2){
    opacity: 0;

    text-align: center;
    font-weight: 800;
    font-size:28px;
    width: 225px;
    overflow: hidden;
    animation: shring-animation 2.2s steps(48,end) 2s forwards, blink .5s step-end infinite alternate;
  }

  /*rgba(162, 202, 247, 0.664)  */

  .personal-information p{
    padding: 10px;
    margin-top: 30px;
    text-align: center;
  }
  .social-networks{
    margin-top: 20px;
  }

  .social-networks h2{
    font-size: 28px;
    margin-left: 25%;
  }

  .rotate-words{
    display: inline;
    margin-left: 30%;
  }

  .rotate-words span{

    font-size: 20px;
    position: absolute;
    background-color:#5f91ff;
    border-radius: 10px;
    padding-inline: 10px;
    opacity:0;
    transform-origin: 10% 75%;
    animation:rotateWords 12s
    var(--d) linear infinite;

  }

/*==================== SKILLS ====================*/

.skills__name, .skill__number{
  font-weight: 700;
}


.skills__bar,
.skills__percentage{
  height: 5px;
  border-radius: .25rem;
}

.skills__bar{
  background-color: rgba(235, 232, 232, 0.918);
}

.skills__percentage{
  display: block;
  background-color: #5f91ff;
}

.skills__html{
  width: 90%;
}

.skills__css{
  width: 80%;
}
.skills__javascript{
  width: 80%;
}
.skills__angular{
  width: 80%;
}

.skills__list{
  margin-top: 20px;
  padding:20px;
  overflow: hidden;
}

.skills__list{
  margin-top:50px;
  margin-bottom: 55px;
}

.grid{
  display: grid;
  gap: 1.5rem;
}




  @keyframes shring-animation{
    0%{
        background-position: 0 0;
        opacity: 0;
        width:0;
    }
    1%{
        background-position: 0 0;
        opacity: 1;
        border-right:1px solid #5f91ff;}
    50%{
        background-position: 150px 0;
        opacity: 1;
        border-right:1px solid #5f91ff;}

    100%{
        background-position: 400px 0;
        opacity: 1;
        border-right:1px solid #5f91ff;}
}

@keyframes type{
    0%{
        width:0;
    }
    1%, 99%{
        border-right:1px solid #5f91ff;}

    100%{
        border-right:none;}
}
@keyframes blink{
    50%{
        border-color: transparent;
    }
}

@keyframes rotateWords{
  5%{
    opacity:1;
  }
  10%,20%{
    opacity:1;
    transform:rotate(3deg);
  }
  15%{
    transform: rotate(-1deg);
  }
  25%{
    opacity: 0;
    transform: translateY(90px);
    rotate:(10deg);
  }
}

