<div class="container-Portfolio">
    <h1>Portafolio</h1>
</div>

<section class="portfolio">
  <div class="container">
    <div class="portfolio__grid">
      <ng-container *ngFor="let portfolio of portfolios">
        <div class="portfolio__item">
          <picture>
            <source type="image/jpeg" [srcset]="portfolio.src" />
            <img class="portfolio__img" alt="portfolio item" />
          </picture>
          <div class="portfolio__description">
            <h3 class="portfolio__description--title">{{portfolio.title}}</h3>
            <p class="portfolio__description--text">
              {{portfolio.description}}
            </p>
            <p class="portfolio__description--text" *ngIf="portfolio.credentiales">
              {{portfolio.credentiales}}
            </p>
            <div class="buttons__container">
              <a
                class="button"
                [href]="portfolio.web"
                target="_blank">
                <i class="fas fa-globe-americas"></i> Sitio Web
              </a>
              <a
              *ngIf="portfolio.repo"
                class="button"
                [href]="portfolio.repo"
                target="_blank">
                <i class="fab fa-github"></i> Repositorio
              </a>
            </div>
          </div>
        </div>
      </ng-container>


    </div>
  </div>
</section>
