nav{
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.icon-container{
  display: flex;
}

.icon{
  margin: 10px;
  padding: 15px;
  background-color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:50%;
  transition:1s;
  cursor: pointer;
}

.icon svg{
  width:  15px;
  height: 15px;
}

.active, .icon:hover{
  background-color:#5f91ff;
  transform:scale(1.1);
}

.active svg g{
    fill:white;
}

@media (max-width: 300px ){
  .icon{
    margin: 8px;
    padding: 15px;
  }
  .icon svg{
    width:  10px;
    height: 10px;
  }
}


@media (min-width: 768px ){
.icon-container{
flex-direction: column;
justify-content: center;
}

.nav{
  width: initial;
  justify-content: initial;
  top: 0;
  left: 0;
  bottom: 0;
}

  .icon svg{
    width:  20px;
    height: 20px;
  }
}

