.container{
  max-width: 1400px;
  margin: 0 auto;

}
.header{
  display: flex;
  justify-content:center;
}

.logo-img{
  margin: 10px;
  width: 80px;
}

.star {
  position: absolute;
  top: 50%;

  height: 2px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  filter: drop-shadow(0 0 6px #699bff);
  animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}

.star::before, .star::after {
  position: absolute;
  content: '';
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
  border-radius: 100%;
  transform: translateX(50%) rotateZ(45deg);
  animation: shining 3000ms ease-in-out infinite;
}


.star::after {
  transform: translateX(50%) rotateZ(-45deg);
}

.star:nth-child(1) {
  top: calc(50% - 200px);

  animation-delay: 650ms;
}
.star:nth-child(1)::before, .star:nth-child(1)::after {
  animation-delay: 650ms;
}

.star:nth-child(2) {
  top: calc(50% - -50px);
  animation-delay: 150ms;
}
.star:nth-child(2)::before, .star:nth-child(2)::after {
  animation-delay: 150ms;
}

.star:nth-child(3) {
  top: calc(50% - -90px);
  animation-delay: 1600ms;
}
.star:nth-child(3)::before, .star:nth-child(3)::after {
  animation-delay: 1600ms;
}

.star:nth-child(4) {
  top: calc(50% - 50px);
  animation-delay: 4700ms;
}
.star:nth-child(4)::before, .star:nth-child(4)::after {
  animation-delay: 4700ms;
}

.star:nth-child(5) {
  top: calc(50% - -190px);
  animation-delay: 2100ms;
}
.star:nth-child(5)::before, .star:nth-child(5)::after {
  animation-delay: 2100ms;
}


/* Animations */
@keyframes tail {
  0% {
    width: 0;
  }

  30% {
    width: 100px;
  }

  100% {
    width: 0;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}

@keyframes shooting {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(290px);
  }
}

@media (max-width: 300px ) {
  @keyframes shooting {
    0% {
      transform: translateX(20%);
    }
    100% {
      transform: translateX(80%);
    }
  }

}

@media (max-width: 300px ) {
  @keyframes shooting {
    0% {
      transform: translateX(20%);
    }
    100% {
      transform: translateX(80%);
    }
  }

}

@media (min-width: 500px ) {
  @keyframes shooting {
    0% {
      transform: translateX(100px);
    }
    100% {
      transform: translateX(390px);
    }

  }

  @media (min-width: 600px ) {
    @keyframes shooting {
      0% {
        transform: translateX(100px);
      }
      100% {
        transform: translateX(490px);
      }

    }
}

@media (min-width: 700px ) {
  @keyframes shooting {
    0% {
      transform: translateX(150px);
    }
    100% {
      transform: translateX(590px);
    }

  }
}

@media (min-width: 800px ) {
  @keyframes shooting {
    0% {
      transform: translateX(200px);
    }
    100% {
      transform: translateX(690px);
    }

  }
}

@media (min-width: 900px ) {
  @keyframes shooting {
    0% {
      transform: translateX(250px);
    }
    100% {
      transform: translateX(790px);
    }

  }
}

@media (min-width: 1000px ) {
  @keyframes shooting {
    0% {
      transform: translateX(300px);
    }
    100% {
      transform: translateX(890px);
    }
  }
}

@media (min-width: 1100px ) {
  @keyframes shooting {
    0% {
      transform: translateX(350px);
    }
    100% {
      transform: translateX(990px);
    }
  }
}

@media (min-width: 1200px ) {
  @keyframes shooting {
    0% {
      transform: translateX(400px);
    }
    100% {
      transform: translateX(1090px);
    }
  }
}


}
